<%= render CitizensAdviceComponents::PageContent.new do |c| %>
  <% c.with_main do %>
    <h1 class="cads-page-title">Hello Cookie Preferences!</h1>

    <div class="cads-prose">
      <p><%= t("example_paragraph") %></p>
    </div>
  <% end %>
<% end %>