<%= render CitizensAdviceComponents::PageContent.new do |c| %>
  <% c.with_main do %>
    <h1 class="cads-page-title">This is a second page</h1>

    <div class="cads-prose">
      <p>It has a cookie banner (sometimes)</p>
    </div>
  <% end %>
<% end %>