/** @define cookie-banner; weak */
$cookie-banner-bg: #f2f8ff;

.cookie-banner {
  background-color: $cookie-banner-bg;
  padding: 1.5rem 0 1rem;

  @media (min-width: 1024px) {
    background-image: url('data:image/svg+xml,<svg width="415" height="245" viewBox="0 0 415 245" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M414.987 -2C414.996 -1.17247 415 -0.343367 415 0.486328C415 134.053 306.171 245.001 195.27 245.001L207.708 209.454C92.6606 209.454 0.415776 121.127 0.415527 0.486328C0.415528 -0.343368 0.421375 -1.17247 0.430176 -2H414.987Z" fill="white"/></svg>');
    background-position: top right;
    background-repeat: no-repeat;
  }

  h2 {
    // We can't override this by adding a .cads-h1 class because of the specificity of .cads-prose h2
    font-size: 2.5rem;
    line-height: 3.25rem;

    @media (max-width: 767.98px) {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  &__link {
    margin-bottom: 0;
  }

  &__button-container {
    display: flex;
    flex-direction: row;

    @media (max-width: 767.98px) {
      flex-direction: column;
    }
  }

  &__button-link-container {
    display: flex;
    align-items: baseline;

    @media (max-width: 1023.98px) {
      flex-direction: column;
    }
  }

  .cads-button {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &--no-decoration {
    background-image: none;
  }
}
