<div class="cookie-preferences__success-message cads-success-message" autofocus="true" role="status" aria-live="polite" tabindex="0">
  <p class="cads-paragraph-small"><%= message %></p>
  <% if cookie_prefs_return_url.present? %>
    <p class="cads-paragraph-small"><a href="<%= cookie_prefs_return_url %>"><%= t("cookie_preferences.update.success_return_url") %></a></p>
  <% end %>
</div>