<%= render CitizensAdviceComponents::PageContent.new do |c| %>
  <% c.with_main do %>
    <h1 class="cads-page-title">This is a page that uses the cookie helpers</h1>

    <div class="cads-prose">
      <p>We have two cookie helpers:</p>
      <ul>
        <li>allow_analytics_cookies?</li>
        <li>allow_video_players_cookies?</li>
      </ul>

      <% if allow_analytics_cookies? %>
        <p>This text appears if the analytics cookies have been accepted.</p>
      <% else %>
        <p>This text appears if the analytics cookies have been rejected.</p>
      <% end %>

      <% if allow_video_players_cookies? %>
        <p>This text appears if the video_players cookies have been accepted.</p>
      <% else %>
        <p>This text appears if the video_players cookies have been rejected.</p>
      <% end %>
    </div>
  <% end %>
<% end %>