.cookie-banner {
    background-color: #f2f8ff;
    padding: 16px;
}

.cookie-banner.is-hidden{
    display: none;
}

.cookie-banner__selection-container.is-hidden{
    display: none;
}

.cookie-banner__confirmation-message {
    display: none;
}

.cookie-banner__confirmation-message.is-visible {
    display: block;
}

.cookie-banner__confirmation-message-text--accept,
.cookie-banner__confirmation-message-text--reject {
    display: none;
}

.cookie-banner__confirmation-message-text--accept.is-visible {
    display: block;
}

.cookie-banner__confirmation-message-text--reject.is-visible {
    display: block;
}