name: Lint and test
on:
  pull_request:
    types: ["opened", "synchronize"]

jobs:
  lint-demo-app:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: demo
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Install dependencies"
        uses: ./.github/actions/install-demo-dependencies

      - name: "Ruby lint"
        run: bundle exec rubocop --format progress --format github

      - name: "Yarn lint"
        run: yarn lint

  lint-engine:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: engine
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Install dependencies"
        uses: ./.github/actions/install-engine-dependencies

      - name: "Ruby lint"
        run: bundle exec rubocop --format progress --format github

      - name: "Yarn lint"
        run: yarn lint

  audit-demo-app:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: demo
    needs: lint-demo-app
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          working-directory: demo

      - name: "Bundle audit"
        run: bundle exec bundle-audit

      - name: "Brakeman audit"
        run: bundle exec brakeman

  audit-engine:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: engine
    needs: lint-engine
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          working-directory: engine

      - name: "Bundle audit"
        run: bundle exec bundle-audit

      - name: "Brakeman audit"
        run: bundle exec brakeman

  cucumber-test-demo-app:
    name: Cucumber tests on demo app
    env:
      LOCAL_RETURN_HOST: "localhost"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: demo
    needs: lint-demo-app
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: "Install dependencies"
        uses: ./.github/actions/install-demo-dependencies

      - name: "Start local server"
        uses: ./.github/actions/start-demo-dev-server

      - name: "Run Cucumber"
        run: bundle exec cucumber --profile reports

      - name: "Upload Cucumber report"
        uses: actions/upload-artifact@v6
        if: '!cancelled()'
        with:
          name: cucumber
          path: demo/log/cucumber_report.*
          retention-days: 7

  test-demo-app:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: demo
    needs: lint-demo-app
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Install dependencies"
        uses: ./.github/actions/install-demo-dependencies

      - name: "Precompile assets"
        run: bundle exec rails assets:precompile

      - name: "Rspec"
        run: bundle exec rspec

  test-engine:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: engine
    needs: lint-engine
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Install dependencies"
        uses: ./.github/actions/install-engine-dependencies

      - name: "Rspec"
        run: bundle exec rspec
